spring:
  application:
    name: oneway
  datasource:
      url: 
      username: 
      password: 
      driver-class-name: oracle.jdbc.driver.OracleDriver
  mvc:
    static-path-pattern: /uploads/**
  web:
    resources:
      static-locations: file:uploads/
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      
server:
  port: 8081
  
  
mybatis:
  configuration:
    jdbc-type-for-null: VARCHAR
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: com.kh.oneway.auth.model.vo, com.kh.oneway.member.model.dto
  mapper-locations: classpath:mapper/*.xml
  
jwt:
  secret: local-jwt-secret-key-change-me
  access-token-expire-time: 1800000   # 30분
  refresh-token-expire-time: 1209600000 # 14일
